[Desktop Entry]
Name=Millipixels
Exec=millipixels /etc/millipixels.ini
Terminal=false
Type=Application
Categories=GTK;
Icon=sm.puri.Millipixels
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
